@media screen and (min-width: 991px) {
  .hide-on-pc {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .banner__desc {
    row-gap: 14px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .silder__item {
    column-gap: 16px;
  }

  .image--slider__item {
    width: 300px;
    height: 440px;
  }
  .header--slider {
    font-size: 24px;
    font-weight: 600;
  }

  .movie__card--top {
    margin-top: 28px;
  }
}

@media screen and (max-width: 991px) {
  .hide-on-tablet {
    display: none;
  }
  .immage__header-logo {
    width: 62px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-drawer {
    padding-top: 50px;
    padding-left: 20px;
    position: fixed;
    inset: 0% 40% 0 0;
    background: #fbfaff;
    z-index: 999;
    transform: translateX(200%);
    transition: 0.5s ease;
  }
  .menu__base {
    transform: translateX(100%);
  }

  .orverlay__nav--animation {
    transition: transform 0.3s ease-in-out;
  }

  .hide {
    transform: translateX(-100%);
  }

  .show {
    transform: translateX(0);
  }
  .header--slider {
    font-size: 24px;
    font-weight: 600;
  }

  .footer__decs--tablet {
    line-height: 1.75;
  }
  .dropdown-menu__user {
    right: 179%;
  }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  .hide-on-tablet__limit {
    display: none;
  }
}
@media screen and (max-width: 599.9px) {
  .hide-on-mobile__limit {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  .movie__card--reponsive {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6px;
    column-gap: 16px;
  }
  .movie__card--reponsive--news {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 6px;
    column-gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .image__movie--card--mobile {
    height: 240px;
  }
  .Toastify__toast-container {
    width: 90% !important;
    padding: 0;
    margin-left: auto !important;
    right: 0 !important;
  }
}
