@import "reset";
@import "reponsive";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "signIn";
@import "notfound";
@import "header";
@import "footer";
@import "movielist";
@import "input";
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HTML: <div class="loader"></div> */
.loading {
  margin-top: 20px;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: 40px auto 0 auto;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .selected {
    @apply bg-green-50 text-green-500 px-3 py-1 rounded-lg;
  }
}

.shadow {
  box-shadow: 0px 0px 29px -3px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed; /* Fix lớp overlay ở vị trí cố định trên màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Màu nền với độ trong suốt */
  z-index: 10; /* Đảm bảo lớp overlay hiển thị trên tất cả các phần tử khác */
}

.orverlay__nav {
  position: fixed; /* Fix lớp overlay ở vị trí cố định trên màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt */
  z-index: 10; /* Đảm bảo lớp overlay hiển thị trên tất cả các phần tử khác */
}

.overlay.active {
  display: block;
}

.image-item {
  border-radius: 12px;
  border: 16px solid black;
}

.agree-btn,
.back-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.agree-btn {
  background-color: #4caf50; /* Màu xanh lá cây */
  color: white;
  margin-right: 20px;
}

.agree-btn:hover {
  background-color: #45a049; /* Màu xanh lá cây nhạt khi di chuột vào */
}

.back-btn {
  background-color: #f44336; /* Màu đỏ */
  color: white;
}

.back-btn:hover {
  background-color: #d32f2f; /* Màu đỏ nhạt khi di chuột vào */
}


// /* HTML: <div class="loader"></div> */
// .loader {
//   height: 4px;
//   width: 130px;
//   --c:no-repeat linear-gradient(#6100ee 0 0);
//   background: var(--c),var(--c),#d7b8fc;
//   background-size: 60% 100%;
//   animation: l16 3s infinite;
// }
// @keyframes l16 {
//   0%   {background-position:-150% 0,-150% 0}
//   66%  {background-position: 250% 0,-150% 0}
//   100% {background-position: 250% 0, 250% 0}
// }