@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "signIn";
@import "notfound";
@import "header";
@import "footer";
@import "movielist";
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
